@media all and (min-width: 480px) {
  .Auth {
    padding-left: 60px 0;
    padding-right: 60px 0;
    padding-bottom: 60px 0;
  }

  .Auth form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Nav {
    margin-bottom: 30px;
  }

  h2 {
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-bottom: 30px;
  }
}